.wrap {
  display: flex;
  align-items: center;
  padding: 2px 5px;
  background-color: brown;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 200;
  font-size: 14px;
  color: #bbb;
}

.removeButton {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
}

.removeIcon {
 width: 15px;
 height: 15px;
}